<%= form_with(model: gform, local: true) do |form| %>
  <% if gform.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(gform.errors.count, "error") %> prohibited this gform from being saved:</h2>

      <ul>
      <% gform.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :view_link %>
    <%= form.text_field :view_link %>
  </div>

  <div class="field">
    <%= form.label :edit_link %>
    <%= form.text_field :edit_link %>
  </div>

  <div class="field">
    <%= form.label :sheets_link %>
    <%= form.text_field :sheets_link %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
