<p id="notice"><%= notice %></p>

<h1>Forms</h1>

<%= link_to 'View Users', '/users/' %>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>View link</th>
      <th>Edit link</th>
      <th>Sheets link</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @gforms.each do |gform| %>
      <tr>
        <td><%= gform.name %></td>
        <td><%= gform.view_link %></td>
        <td><%= gform.edit_link %></td>
        <td><%= gform.sheets_link %></td>
        <td><%= link_to 'Preview', preview_path(gform) %></td>
        <td><%= link_to 'Edit Form', edit_form_path(gform) %></td>
        <td><%= link_to 'View Responses', view_responses_path(gform) %></td>
        <td><%= link_to 'View Links', gform %></td>       
        <td><%= link_to 'Edit Links', edit_gform_path(gform) %></td>
        <td><%= link_to 'Remove Form', gform, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Gform', new_gform_path %>
