<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @gform.name %>
</p>

<p>
  <strong>View link:</strong>
  <%= @gform.view_link %>
</p>

<p>
  <strong>Edit link:</strong>
  <%= @gform.edit_link %>
</p>

<p>
  <strong>Sheets link:</strong>
  <%= @gform.sheets_link %>
</p>

<%= link_to 'Edit', edit_gform_path(@gform) %> |
<%= link_to 'Back', gforms_path %>
