<h1>CASTNXT Applicants Page</h1>
<p>Find me in app/views/users/applicants.html.erb</p>

<br>
<%= link_to "Home Page", users_home_path %>
<br>

<table id="users">
  <thead>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Agency</th>
      <th>Address</th>
      <th>Phone</th>
      <th>Email</th>
      <th>Height Feet</th>
      <th>Height Inches</th>
      <th>Dress Size</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td>
          <%= user.first_name %>
        </td>
        <td>
          <%= user.last_name %>
        </td>
        <td>
          <%= user.agency_name %>
        </td>
        <td>
          <%= user.address %>
        </td>
        <td>
          <%= user.phone_number %>
        </td>
        <td>
          <%= user.email_address %>
        </td>
        <td>
          <%= user.height_feet %>
        </td>
        <td>
          <%= user.height_inches %>
        </td>
        <td>
          <%= user.dress_size %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>